[Unit]
Description=MQTT Video Player (Pygame)
After=network.target

[Service]
Type=simple
User=pi
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.Xauthority
StandardOutput=journal
StandardError=journal
ExecStart=/usr/bin/python3 -u /home/pi/mqtt_video_player_vlc.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
