# Common
Pillow>=10.0.0
paho-mqtt>=1.6.0

# photo - Canon 100D 카메라
gphoto2==2.5.0
requests>=2.25.0

# reserve - Reverse Audio Analyzer
pygame>=2.5.0
numpy>=1.24.0
pydub>=0.25.1
matplotlib>=3.7.0
PyQt5>=5.15.0
scipy>=1.10.0
